.coin-container {
 display: flex;
 justify-content: center;
 
}

.coin-row {
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 height: 70px;
 border-bottom: 1px solid #f79f9f;
 width: 860px;
 margin-bottom: 1rem;
}

.coin {
 display: flex;
 align-items: center;
 padding-right: 20px;
 min-width: 200px;
}

.coin h1 {
 font-size: 16px;
 width: 130px;
}

.coin img {
 height: 30px;
 width: 30px;
 margin-right: 7px;
}

.coin-symbol {
 text-transform: uppercase;
}

.coin-data {
 display: flex;
 text-align: right;
 justify-content: space-between;
 width: 100%;
}

.coin-price {
 width: 100px;
}

.coin-volume {
 width: 135px;
}

.coin-marketcap {
 width: 230px;
}

.coin-percent {
 width: 40px;
}

.red {
 color: #fc4a4a;
}

.green {
 color: #1f8a1f;
}

@media screen and (max-width:776px) {
.coin-container {
  padding-left: 15rem;
  padding-right: 1rem;
}

 .coin{
  padding-right: 0.5rem;
  min-width: 90px;
 }
 .coin h1 {
 font-size: 8px;
 margin-right: 1rem;
 }
 .coin img{
   height: 20px;
   width: 20px;
   margin-right: 1rem;
 }
 .coin p {
  font-size: 8px;
 }
 .coin-data p {
  font-size: 8px;
 }
 .coin-row {
  width: 400px;
 }


 .coin-price {
  width: 50px;
 }

 .coin-volume {
  width: 100px;
 }

 .coin-marketcap {
  width: 120px;
 }

 .coin-percent {
  width: 40px;
 }
}