* {
  margin: 0;
}

.HomePage {
  background-color: hsl(7, 100%, 98%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#search_bar {
  font-family: "Grand Hotel",
    cursive,
    sans-serif;
  min-height: 10vh;
  background-color: hsl(7, 100%, 98%);
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:776px) {
  #search_bar {
    display: flex;
  }
  .heading_text {
    font-size: 3rem;
  }
}
.search_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: rgb(43, 42, 42);
}



.search_input {
  font-family: "Grand Hotel",
    cursive,
    sans-serif;
  padding: 0.5rem !important;
  text-align: center;
  background: #ffffff !important;
  color: #0c0b01 !important;
  text-transform: capitalize;
  font-size: 1.3rem !important;
  margin: 0.3rem 0 !important;
  border: 0.3rem solid #ffdfdf !important;
  border-radius: 0.5rem !important;
  max-width: 20rem;
  outline: none;
}

